@import "reset";

$font-size-base: 14px;

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #c9c9c9;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: $font-size-base;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}
.link {
  cursor: pointer;
}
a:hover, .link:hover {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.top {
  flex: 2;
  display: flex;
  background: #e3e3e3;
  font-size: $font-size-base * 4;

  .ip {
    margin: auto;
  }
}

.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $font-size-base * 2;
  text-align: center;
}

.bottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;

  div {
    margin-bottom: $font-size-base;
  }
}


.about {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);

  .content {
    position: relative;
    margin: auto;
    padding: $font-size-base;
    width: 400px;
    max-width: 80vw;
    background-color: #eee;
    border-radius: $font-size-base / 3;

    .close {
      position: absolute;
      top: -4px;
      right: 0;
      padding: 4px;
      font-size: $font-size-base * 1.5;
      cursor: pointer;
    }

    p {
      margin-bottom: $font-size-base / 3;
    }
    .header {
      margin-bottom: $font-size-base / 2;
      font-size: $font-size-base * 2;
    }
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 549px) {
  .top {
    font-size: $font-size-base * 3;
  }
  .center,
  .about .content .header {
    font-size: $font-size-base * 1.5;
  }
}

@media screen and (max-width: 400px) {
  .top {
    font-size: $font-size-base * 2;
  }
  .center,
  .about .content .header {
    font-size: $font-size-base * 1.2;
  }
}
